<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Hello</h2>

    <div id="app">
        <router-view></router-view>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="/pages/home.js"></script>
    <script type="text/javascript" src="/pages/post.js"></script>
    <script type="text/javascript" src="/pages/postCreate.js"></script>
    <script type="text/javascript" src="/pages/postDetail.js"></script>
    <script type="text/javascript" src="/routes.js"></script>
    <script type="text/javascript" src="/app.js"></script>
</body>
</html>